.header {
    display: flex;
    flex-direction: column;

    &__container {
        // background-color: yellowgreen;
        display: flex;
        align-items: center;
        position: relative;
        transition: all .5s;
        padding-bottom: 32px;
        
        @include respond(phone) {
            // justify-content: flex-end;
            padding-bottom: 8px;
            
            
        }
        
        
        
        // background-color: blue;
    }
    @include respond(phone) {
        // background-color: aqua;
        // display: block;
        position: absolute;
        
        // flex-direction: column-reverse;

        transition: all .5s;
    }
   
 


}



